*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    margin: 0;
    padding: 0;
    width: 100%;
}

.Dojo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10% 9% 10% 10%;
  transition: 0.5s linear;
}

.Dojo1 {
    background-image: url("../templates/Images/dojo1.png");
}

.Dojo2 {
    background-image: url("../templates/Images/dojo2.png");
}

.Dojo3 {
    background-image: url("../templates/Images/dojo3.png");
}


.Dojo:hover{
    background-image: url("../templates/Images/dojoUnirse.png");
}

@font-face {
    font-family: 'Dead-Stock-Demo';
    src: url("../media/Dead-Stock-Demo.ttf");
}

@font-face {
    font-family: 'bahnschrift';
    src: url('../media/BAHNSCHRIFT.TTF');
}

.dead-stock {
    font-family: 'Dead-Stock-Demo';
}

.bahnschrift {
    font-family: 'bahnschrift';
}

.boton-amarillo {
    background-image: url('../media/fondo-boton.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem 4rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-family: 'Dead-Stock-Demo';
    color: white;
    font-size: 1.5rem;
}

.Temporada {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    width: 420px;
    height: 700px;
}

.Temporada1 {
    background-image: url("../media/Temporada1.png");
}
.Temporada2 {
    background-image: url("../media/Temporada2.png");
}
.Temporada3 {
    background-image: url("../media/Temporada3.png");
}
.Temporada4 {
    background-image: url("../media/Temporada4.webp");
}

.Pelicula {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    width: 430px;
    height: 700px;
}

.Pelicula1 {
    background-image: url("../media/Pelicula1.png");
}
.Pelicula2 {
    background-image: url("../media/Pelicula2.png");
}
.Pelicula3 {
    background-image: url("../media/Pelicula3.png");
}
.Pelicula4 {
    background-image: url("../media/Pelicula4.png");
}
