html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    position: relative;
    background-image: url('../media/fondo.svg');
    background-repeat: repeat-y;
    background-position: top center;
    background-size: cover; 
}
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    margin: 0;
    padding: 0;
    width: 100%;
}

.Dojo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10% 9% 10% 10%;
  transition: 0.5s linear;
}

.Dojo1 {
    background-image: url("../templates/Images/dojo1.png");
}

.Dojo2 {
    background-image: url("../templates/Images/dojo2.png");
}

.Dojo3 {
    background-image: url("../templates/Images/dojo3.png");
}


.Dojo:hover{
    background-image: url("../templates/Images/dojoUnirse.png");
}

@font-face {
    font-family: 'Dead-Stock-Demo';
    src: url("../media/Dead-Stock-Demo.ttf");
}

@font-face {
    font-family: 'bahnschrift';
    src: url('../media/BAHNSCHRIFT.TTF');
}

.dead-stock {
    font-family: 'Dead-Stock-Demo';
}

.bahnschrift {
    font-family: 'bahnschrift';
}

.boton-amarillo {
    background-image: url('../media/fondo-boton.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem 4rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-family: 'Dead-Stock-Demo';
    color: white;
    font-size: 1.5rem;
}



.Temporada {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    width: 420px;
    height: 700px;
}

.Temporada1 {
    background-image: url("../media/Temporada1.png");
}
.Temporada2 {
    background-image: url("../media/Temporada2.png");
}
.Temporada3 {
    background-image: url("../media/Temporada3.png");
}
.Temporada4 {
    background-image: url("../media/Temporada4.webp");
}

.Pelicula {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    width: 430px;
    height: 700px;
}

.Pelicula1 {
    background-image: url("../media/Pelicula1.png");
}
.Pelicula2 {
    background-image: url("../media/Pelicula2.png");
}
.Pelicula3 {
    background-image: url("../media/Pelicula3.png");
}
.Pelicula4 {
    background-image: url("../media/Pelicula4.png");
}

.Episodio {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    width: 500px;
    height: 400px;
    transition: 0.5s linear;
}
.Episodio:hover{
    background-image: url("../media/EpisodioHover.png");
}


.Episodio1 {
    background-image: url("../media/episodio1.png");
}
.Episodio2 {
    background-image: url("../media/episodio2.png");
}
.Episodio3 {
    background-image: url("../media/episodio3.png");
}
.Episodio4 {
    background-image: url("../media/episodio4.png");
}
.Episodio5 {
    background-image: url("../media/episodio5.png");
}
.Episodio6 {
    background-image: url("../media/episodio6.png");
}
.Episodio7 {
    background-image: url("../media/episodio7.png");
}
.Episodio8 {
    background-image: url("../media/episodio8.png");
}
.Episodio9 {
    background-image: url("../media/episodio9.png");
}
.Episodio10 {
    background-image: url("../media/episodio10.png");
}

.image-fader {
  width: 300px;
}

.image-fader img {
  position: absolute;
  top: 0px;
  left: 0px;
  animation-name: imagefade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 9s;
}

@keyframes imagefade {
  0% {
    opacity:1;
  }
  33% {
    opacity:0;
  }
  66% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.image-fader img:nth-of-type(1) {
  animation-delay: 6s;
}
.image-fader img:nth-of-type(2) {
  animation-delay: 3s;
}
.image-fader img:nth-of-type(3) {
  animation-delay: 0s;
}

.EpisodioPlay {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    width: 70%;
    height: 900px;
}

.Play1 {
    background-image: url("../media/Ep1_play.png");
}
.Play2 {
    background-image: url("../media/Pe1_play.png");
}